/* FirebaseLogin.css */
.login-container {
  height: 120vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(45, 51, 55);
  padding-bottom: 20vh;
  padding-top: 10vh;
}

.big-title {
  color: white;
  font-size: 5rem;
  padding-top: 0rem;
  margin: 0;
  /* padding-bottom: 1.5rem; */
  z-index: 1;
}

.login-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-page6 {
  --gap: 15px;
  --login-line-height: 1.5;
  line-height: var(--login-line-height);
  background-color: var(--login-bg);
  color: var(--login-color);
  height: auto;
  min-height: 100%;
  width: 100%;
  max-width: 400px;
  display: flex;
  font-size: 17px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.login-footer {
  text-align: center;
  margin: 3px;
}

.login-page6-inner > article > label {
  justify-content: left;
}

@media (max-width: 600px) {
  .login-container {
    overflow-x: hidden;
  }
  .login-page6 {
    width: 80%;
  }

  .login-container {
    padding-top: 0;
  }
}
