.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  /* background: linear-gradient(
    90deg,
    rgb(55, 154, 196) 0%,
    rgb(8, 66, 101) 100%
  ); */
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  height: 90px; /* Adjust height as needed */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom */
  width: 93%; /* Occupy full width */
  z-index: 999;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center;
  height: 80px;
  max-width: 1500px;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  list-style: none;
  padding: 0;
  align-items: center;
  width: 100%; /* Ensure the menu takes full width */
}

.nav-item {
  flex: 1;
  text-align: center; /* Center align the items */
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 5px; /* Adjust padding as needed */
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.nav-links > p {
  margin: 0;
}

.highlight {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.about-me {
  border: 2px solid white;
}
.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-links {
    font-size: 1.5vh;
  }
}
